* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ff3333;
    --secondary-color: #dbc3a3;
    --main-font-family: 'Abril Fatface', serif;
    --secondary-font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--secondary-font-family);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
}

/* NAVIGATION */


nav {
    background: linear-gradient(
    to right,
    #dbc3a3 0%,
    #dbc3a3 75%,
    #ff3333 75%,
    #ff3333 100%
  );
}

.logo {
    cursor: pointer;
    z-index: 2;
    font-family: 'Caveat Brush', cursive;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-align: center;
    color: var(--main-color);
    
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.nav-menu {
    display: flex;
    gap: 60px;
}

.hamburger {
    display: none;
    position: absolute;
    right: 55px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: black;
}

#login {
    background: white;
    padding: 10px 30px;
    border-radius: 20px 20px 20px;
    
}

#login a {
    color: black;
}


/* HERO SECTION */
h1 {
    font-weight: 800;
    font-size: 2.8rem;
}

.hero-section {
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
    to right,
    #dbc3a3 0%,
    #dbc3a3 75%,
    #ff3333 75%,
    #ff3333 100%
  );

}


.hero-section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 6rem;
}



.hero-section-image img {
    max-width: 300px;
    border-radius: 20%;
    
}



.hero-section-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.hero-section-text p {
    font-family: var(--secondary-font-family);
}

.company-name {
    color: var(--main-color);
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 0.3rem;
}

.order-now-btn  {
    border: none;
    width: 50%;
    padding: 16px;
    border-radius: 20px 20px 20px ;
    font-weight: 800;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    background: #00cc00;
}



/* MISSION SECTION */
.mission-section {
    height: 100vh;
    display: flex;
    justify-content: center;

}

.mission-section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    
}



.mission-section-images img {
    width: 70%;
    transform: rotate(30deg);
}

.mission-section-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

/* WEEKLY POPULAR CHOICES */
.popular-choices-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-choices-wrapper {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 30px;
}

.button-options {
    display: flex;
    gap: 30px;
}

.button-options button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px 10px 10px;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.button-options button:hover {
    background: white;
}


/* MEDIA QUERIES */
@media screen and (max-width: 940px){
    /* navigation */
     .hamburger {
         display: block;
     }
 
     .hamburger.active .bar:nth-child(2){
         opacity: 0;
     }
     .hamburger.active .bar:nth-child(1){
         transform: translateY(8px) rotate(45deg);
     }
     .hamburger.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
     }
 

     .logo img {
        position: absolute;
        left: 5%;
     }
     .nav-menu {
         position: fixed;
         left: -100%;
         top: 80px;
         gap: 0;
         flex-direction: column;
         background: white;
         width: 100%;
         text-align: center;
         transition: 0.3s;
     }
 
     .nav-item {
         margin: 16px 0;
     }
 
     .nav-menu.active {
         left: 0;
 
     } 
    

     /* HERO SECTION */
    .hero-section-wrapper {
        display: flex;
        flex-direction:column-reverse;
    }

   h1 {
    word-wrap: break-word;
   }

    .hero-section {
        height: 100%;
    }

    .hero-section-text {
        display: flex;
        align-items: center;
    }
    
    .mission-section-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mission-section-images {
        width: 50%;
    }

    .mission-section-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }




} 

    @media screen and (max-width: 540px){
        h1 {
            font-size:1.8rem;
        }
    }